
.container{
    display:grid;
    grid-template-columns: 1fr 1fr 0.1fr;
    grid-template-areas: 
    " header header  nav"
    "main main main"
    "footer footer footer"
    ;
}

header{
      grid-area: header;
      padding: 15%;
      text-align: center;
      font-size: xx-large;
      margin-bottom: 3%;
      background-image: url(images/visuel-medecins-specialistes.jpg);
}

nav{
    grid-area: nav;
    margin-bottom: 58%;
    background-color: black;
   
}

main{
    grid-area: main;
    padding-left: 15%;
    padding-right: 15%;
   
}

footer{
    grid-area: footer;
    padding-left: 15%;
    
}

a{
    color: rgb(22, 170, 22);
    text-decoration: none;
}
a:hover{
color: blue;
}

h2{
text-align: left;
}

ul{
padding-left: 6%;
}

@media screen and (max-width: 400px){
a{
color:rgba(241, 25, 36, 0.955);
text-decoration: none;
}
a:hover{
color: blue;
}  
main{
grid-area: main;
padding-left: 10%;
padding-right: 10%;

} 
nav{
    grid-area: nav;
    margin-bottom: 10%;
   
   
}
header{
  grid-area: header;
  padding: 10%;
  background-image: url(images/OIP.jpg);
}
}