

.row {
  display: flex;
 
}
.container{
   
    border: 3px solid #151414;
    padding-bottom: 4%;
    
   
}

.column1 {
 padding-right: 8%;
 background-color:rgb(8, 152, 102);
  
}

h3{
    margin-left: 16%;
   }

   .column1>p{
         margin-left: 16%;
   }

.image{
    width: 120%;
   height:10%;
   margin: 15%;
  border-radius: 9em;
   background-size:cover;
   background-image: url(../images/green-planet-concept-green-tree-ptotecting-shell-with-sunshine-around-save-our-planet-earth-day_399963-4233.avif);
   
 }

.flex1{
    display: flex;
    border: 2px solid rgba(25, 18, 219, 0.453);
    height: 1%;
    width: 97%;
    margin-top: 18%;
    color:yellow;
    margin-left: 20%;
    padding-left: 4%;
    font-size:x-large;
    text-wrap:wrap;
    padding-bottom: 8px;

}

.column2 {
  flex: 20%;
}
.bloc{
    background-color: rgb(12, 142, 142);
    border: 2px solid rgba(18, 219, 31, 0.626);
    width: 84%;
    padding:8%;
}

.flex2{
    border: 2px solid black;
    text-align: center;
    font-size: x-large;
    padding: 2%;
}


.bloc2{
    width: 114%;
    height: 8%;
    padding-top: 10%;
   
}
p{
    margin-left: 4%;
    margin-right: 14%;
  }

.flex3{
   display: flex;
    border: 2px solid black;
    height:19%;
    margin-left: 5%;
    margin-right: 18%;
    margin-top: 2%;
    flex-wrap:wrap;
    font-size: x-large;
    margin-bottom: 3%;
    padding-left: 25%;
}
.conteneur {
    display: flex;
    border: 2px solid red;
    flex-flow: row; 
    margin-left: 4%;
    margin-right: 18%;
  
}
.item{
   
    border: 1px solid black;
    background-color: grey;
  
}


.item1{
    
    border: 1px solid black;
    background-color: grey;
  
}
.grille1 {
    display: grid;
    gap: 17em;
}

.grille2 {
    display: grid;
    gap: 13em;

}

@media screen and (max-width: 800px){

    .image{
        max-width: 100%;
       max-height:10%;
       margin: 15%;
      border-radius: 6em;
       background-size:cover;
       background-image: url(../images/green-planet-concept-green-tree-ptotecting-shell-with-sunshine-around-save-our-planet-earth-day_399963-4233.avif);
       
     }
    .column1 {
        flex: 30%;
        max-width:24%;
       
      }
      .flex1{
        display: flex;
        font-size: x-large;
         border: 2px solid black;
        color: rgb(160, 232, 51);
      }
      
        
    .column2 {
      flex: 30%;
      max-width: 60%;
     padding-right: 3%;
     background-color:white;
     padding-bottom: 15%;
    }
      
    .flex3{
        display: flex;
        border: 2px solid black;
        font-size:x-large;
       padding-left: 5%;
    }
    .bloc{
      background-color: rgb(22, 200, 149);
      border: 2px solid rgba(18, 219, 135, 0.626);
      width: 97%;
      padding:8%;
  }
   
   
}


@media screen and (max-width: 600px){

    .image{
        max-width: 85%;
       max-height:7%;
       margin: 15%;
      border-radius: 6em;
       background-size:cover;
       background-image: url(../images/green-planet-concept-green-tree-ptotecting-shell-with-sunshine-around-save-our-planet-earth-day_399963-4233.avif);
       
     }
    .column1 {
        
        max-width:40%;
       
      }

      h3{
        margin-left: 10%;
       }
    
       .column1>p{
            
            margin-right: 10%;
             margin-left: 8%;
       }
      .flex1{
        display: flex;
        font-size: x-large;
         border: 2px solid rgba(16, 86, 216, 0.407);
        color: rgb(29, 79, 197);
        padding-bottom: 1%;
        padding-top: 3%;
        margin-left :10%;
      }
      
        
    .column2 {
      flex: 30%;
      max-width: 60%;
     padding-right: 3%;
     background-color:white;
     padding-bottom: 15%;
    }
      .bloc{
        display: flex;
        background-color: rgb(29, 220, 204);
        border: 2px solid rgba(18, 219, 31, 0.626);
        width: 89%;
        
    }
    .flex3{
        display: flex;
        border: 2px solid rgb(9, 9, 9);
        font-size:x-large;
        padding-bottom: 5%;
       
    }
   
    .container{
     
      border: 3px solid #151414;
      padding-bottom: 4%;
      background-color: blue;
      width: 130%;
  }
}


@media screen and (max-width: 500px){

  .image{
      max-width: 100%;
     max-height:6%;
     margin: 15%;
    border-radius: 6em;
     background-size:cover;
     background-image: url(../images/green-planet-concept-green-tree-ptotecting-shell-with-sunshine-around-save-our-planet-earth-day_399963-4233.avif);
     
   }
  .column1 {
      flex: 30%;
      max-width:40%;
     
    }

    h3{
      margin-left: 10%;
     }
  
     .column1>p{
          
          margin-right: 10%;
           margin-left: 8%;
     }
    .flex1{
      display: flex;
      font-size: x-large;
       border: 2px solid rgba(16, 86, 216, 0.407);
      color: rgb(29, 79, 197);
     padding-bottom: 0%;
    }
    
      
  .column2 {
    flex: 30%;
    max-width: 60%;
   padding-right: 3%;
   background-color:white;
   padding-bottom: 15%;
  }
    .bloc{
      display: flex;
      background-color: rgb(29, 220, 156);
      border: 2px solid rgba(18, 219, 31, 0.626);
      width: 89%;
      
  }
  .flex3{
      display: flex;
      border: 2px solid rgb(9, 9, 9);
      font-size:x-large;
      padding-bottom: 5%;
     
  }
  .container{
     
      border: 3px solid #151414;
      padding-bottom: 4%;
      background-color: blue;
      width: 130%;
  }
}

@media screen and (max-width: 400px){

  .image{
      max-width: 98%;
     max-height:5%;
     margin: 15%;
    border-radius: 6em;
     background-size:cover;
     background-image: url(../images/green-planet-concept-green-tree-ptotecting-shell-with-sunshine-around-save-our-planet-earth-day_399963-4233.avif);
     
   }
  .column1 {
      flex: 30%;
      max-width:29%;
     
    }

    h3{
      margin-left: 10%;
     }
  
     .column1>p{
          
          margin-right: 10%;
           margin-left: 8%;
     }
    .flex1{
      display: flex;
      font-size: 1.25em;
       border: 2px solid rgba(16, 86, 216, 0.407);
      color: rgb(29, 79, 197);
     padding-bottom: 1%;
    }
    
      
  .column2 {
    flex: 30%;
    max-width: 60%;
   padding-right: 3%;
   background-color:white;
   padding-bottom: 15%;
  }
    .bloc{
      display: flex;
      background-color: rgb(29, 217, 220);
      border: 2px solid rgba(48, 18, 219, 0.626);
      width: 89%;
      
  }
  .flex3{
      display: flex;
      border: 2px solid rgb(9, 9, 9);
      font-size:x-large;
      padding-bottom: 5%;
     
  }
  .container{
     
      border: 3px solid #151414;
      padding-bottom: 4%;
      background-color: blue;
      width: 182%;
  }
}