
body{
    margin: 30%;
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 1px;
  background-color: red;
  
  
}
.container{
    background-color: blue;
    border: 3px solid #ccc;
    height: 900%;
   width: 100%;
}

.column1 {
  flex: 20%;
  padding-right: 8%;
 background-color:rgb(8, 152, 102);
   h3,p{
    margin-left: 19%;
   }
   


}

div.gallery img {
             width: 125%;
            border-radius: 10em;
           
        }

.flex1{
    display: flex;
    border: 2px solid rgba(25, 18, 219, 0.453);
    height: 1%;
    width: 85%;
    margin-top: 18%;
    color:yellow;
    margin-left: 20%;
    padding-left: 4%;
    font-size:x-large;
    text-wrap: 2%;
    padding-bottom: 4px;

}

.column2 {
  flex: 20%;
  max-width: 75%;
 padding-right: 30%;
 background-color:white;
 
}
.bloc{
    background-color: rgb(12, 142, 142);
    border: 2px solid rgba(18, 219, 31, 0.626);
    width: 196%;
}

.flex2{
    border: 2px solid black;
    margin: 6%;
    text-align: center;
    padding-top: 2%;
    font-size: x-large;
}


.bloc2{
    width: 196%;
    height: 8%;
    padding-top: 10%;
    p{
      margin-left: 6%;
      margin-right: 6%;
    }
}

.flex3{
    border: 2px solid black;
    height: 20%;
    margin: 5%;
    flex-wrap:wrap;
    text-align: center;
    font-size: x-large;
}


   .flex-container{
     display :grid;
     flex-wrap: wrap;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
    "aside    main    main   main"
    "aside     main   main    main";
   
    background-color: blueviolet;
    margin: 5%;
   
 }

 main{
    grid-area: main;
    flex-wrap: wrap;
    background-color: palegreen;
   
 }

 aside{
    grid-area: aside;
    flex-wrap: wrap;
    background-color:aqua;
   
    p{
        padding-bottom: 200%;
    }
 }
 
@media screen and (max-width: 900px) {
  .column1 {
    flex: 25%;
    max-width: 50%;
    padding:  1px;
    padding-right: 18px;
   
  }
  .flex1{
    display: flex;
    width: 69%;
    font-size: large;
     border: 2px solid rgba(16, 216, 63, 0.407);
    color: rgb(197, 189, 29);
  }
  div.gallery img {
             width: 110%;
          
        }

    
.column2 {
  flex: 25%;
  max-width: 75%;
 padding-right: 32%;
 background-color:white;
 padding-bottom: 40%;
}
  .bloc{
    background-color: aqua;
    border: 2px solid rgba(18, 219, 31, 0.626);
    width: 200%;
    height: 4%;
  
    
}
.flex3{
    border: 2px solid black;
    height: 23%;
    margin: 4%;
    flex-wrap:wrap;
    font-size:x-large;
}
aside{
    grid-area: aside;
    flex-wrap: wrap;
    background-color:aqua;
   
    p{
        padding-bottom: 389%;
    }


}
@media screen and (max-width: 800px) {
  .column1 {
    flex: 25%;
    max-width: 240%;
    background-color: rgb(20, 100, 157);
    padding-bottom: 20%;
    
  }
  .flex1{
    border: 2px solid rgba(189, 219, 18, 0.692);
    color: rgb(223, 181, 12);
   height: 2%;
  padding-top: 2%;
  font-size: x-large;
  }
  div.gallery img {
             width: 100%;
        }

        .column2 {
    flex: 25%;
    max-width: 220%;
  }

  .bloc{
    border: 2px solid rgba(18, 219, 31, 0.626);
    width: 146%;
    height: 5%;
}
.flex3{
    border: 2px solid black;
    height: 7%;
    margin: 3%;
    flex-wrap:wrap;
    text-align: center;
    font-size: x-large;
    width: 67%;
}

.bloc2{
    width: 196%;
    height: 20%;
    padding-top: 4%;
    p{
      margin-left: 3%;
      margin-right: 27%;
    }
}

.flex-container{
     display :grid;
     flex-wrap: wrap;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
    "aside    main    main   main"
    "aside     main   main    main";
   
    background-color: blueviolet;
   width: 66%;
   
 }
 .flex2{
    border: 2px solid black;
    height: 30%;
    margin: 6%;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 3%;
    font-size: x-large;
}
aside{
    grid-area: aside;
    flex-wrap: wrap;
    background-color:aqua;
   
    p{
        padding-bottom: 300%;
    }

 
}
}
